@page "/todolist"
@using Raven.Client.Documents
@inject IJSRuntime JSRuntime

<input @bind="InputValue" type="text" placeholder="Wpisz coś..." />
<button @onclick="AddItem">Dodaj</button>
@if (Tasks == null)
{
    <p>Ładowanie...</p>
}
else
{
    <ul>
        @foreach (var item in Tasks)
        {
            <li>@i. @item.WhatToDo</li>
            i++;
        }
    </ul>
    i = 1;
}
@code {
    public int i = 1;
    private string InputValue { get; set; }
    private List<Data.Task> Tasks { get; set; }
    private DocumentStore store;

    private async Task AddItem()
    {
        if (string.IsNullOrEmpty(InputValue))
        {
            await JSRuntime.InvokeVoidAsync("alert", "Błąd! Pole tekstowe nie może być puste!");
        }
        else
        {
            using var session = store.OpenSession();
            session.Store(new Data.Task { WhatToDo = InputValue });
            session.SaveChanges();
            Tasks = session.Query<Data.Task>().ToList();
            InputValue = "";
        }
    }
    protected override async Task OnInitializedAsync()
    {
        store = new DocumentStore
        {
            Urls = new string[] { "http://localhost:8080" },
            Database = "Tasks",
        };
        store.Initialize();

        using var session = store.OpenSession();
        Tasks = session.Query<Data.Task>().ToList();
    }
}