.delButton {
    color: red;
    background: none;
    border: 1px solid rgba(0,0,0,.25);
    transition: all .4s;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.delButton:hover {
    background-color: red;
    color: white;
    border-color: darkred;
}
.edButton {
    color: orange;
    background: none;
    border: 1px solid rgba(0,0,0,.25);
    transition: all .4s;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.edButton:hover {
    background-color: orange;
    color: white;
    border-color: darkorange;
}
.isNotDone {
    text-decoration: none;
}
.isDone {
    text-decoration: line-through;
    color: gray;
}
.task-name {
    display: inline;
}
.task-line {
    display: flex;
    align-items: center;
}
Switch:hover {
    cursor: pointer;
}
.task-table {
    position: absolute;
    bottom: 0px;
}
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}