
@page "/todolist"

<PageTitle>To do list</PageTitle>

<h1>Lista</h1>

<ul>
    @foreach(var item in ToDos) 
    {
        <li>@item.Title</li>
    }
</ul>

<input @bind="_task" placeholder="Co musisz zrobic?">
<button @onclick="save">Save</button>


@code {
    private List<TodoItem> ToDos = new();
    private string _task = string.Empty;
    private void save() 
    {
        if(string.IsNullOrEmpty(_task)) return;
        // comment
//ToDo vs djgfklrdjkgflkea
        
        ToDos.Add(new TodoItem
        {
            Title = _task
        });
        _task = string.Empty;
    }
}