.delButton {
    color: red;
    background: none;
    border: 1px solid rgba(0,0,0,.25);
    transition: all .4s;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.delButton:hover {
    background-color: red;
    color: white;
    border-color: darkred;
}
.edButton {
    color: orange;
    background: none;
    border: 1px solid rgba(0,0,0,.25);
    transition: all .4s;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.edButton:hover {
    background-color: orange;
    color: white;
    border-color: darkorange;
}
.saveButton {
    color: #0a53be;
    background: none;
    border: 1px solid rgba(0,0,0,.25);
    transition: all .4s;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.saveButton:hover {
    background-color: #0a53be;
    color: white;
    border-color: darkblue;
}
.isNotDone {
    text-decoration: none;
}
.isDone {
    text-decoration: line-through;
    color: grey;
}
.isNotDisabled {
    background-color: #0a53be;
    color: white;
    border-radius: 8px;
}
input {
    width: fit-content;
}
.task-name {
    display: inline;
}
.task-line {
    display: flex;
    align-items: center;
}
Switch:hover {
    cursor: pointer;
}
.task-table {
    position: absolute;
    bottom: 0px;
}
table {
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    color: #fff;
}
th {
    background-color: #393646;
}
td {
    background-color: #4F4557;
}
.true {
    background-color: green !important;
}
.false {
    background-color: darkred !important;
}
.newTaskInput {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}